
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .login-creat-account-container,
.login-creat-account-form {
  display: flex;
  flex-direction: column;
  justify-conten    t: center;
  align-items: center;
} */

/* .login-creat-account-form {
  width: 100%;
} */

/* .login-creat-account-container {

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  min-height: 100vh;
height: 100vh;
  background-image: url("../Images/Background.png");
  background-size: cover;



  width: 90%;
  max-width: 37.5rem;
  color: #e6e6e6;
  background-color: #000;
  padding: 2.44em 2.86em 0.62em 4.88em;
  font-family: inherit;
} */


/* .login-creat-account-links {
  display: inline-block;
  margin-bottom: 1em;
} */

/* .login-creat-account-links a {
  border-right: 2px solid #00d5ff;
  text-decoration: none;
  padding: 0 0.3em;
  color: #00d5ff;
  text-align: center;
  font-family: inherit;
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9375rem; 
} */

/* .login-creat-account-links a:hover,.login-creat-account-links a:focus{
  color: #e6e6e6;
} */
/* .login-creat-account-links a:first-child {
  border: none;
} */
/* .login-creat-account-container .conditions,
.enter-phone-number {
  text-align: right;
  width: 100%;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 200;
  line-height: 3.125rem;
  letter-spacing: 0.05313rem;
} */
/* .enter-phone-number {
  margin-bottom: 0.62em;
} */


/* ---------------Underline Animation - Link for conditions links ------------*/

/* .login-creat-account-container .conditions a {
  text-decoration: none;
  color: #00d5ff;
  position: relative;
  padding-bottom: 0.3em;
} */

/* .login-creat-account-container .conditions a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #00d5ff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
} */

/* @media (hover: hover) and (pointer: fine) {
  .login-creat-account-container .conditions a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
} */
/* ---------------------------*/


/*-------------- button --------------*/

/* .verification-code-button {
  padding: 0.3em 1.3em;
  font-family: inherit;
  color: #2e2e2e;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.045rem;
  background-color: #00d5ff;
  border: 1px solid #00d5ff;
  margin-bottom: 1em;
  transition: all 0.3s ease;
  cursor: pointer;
} */

/* .verification-code-button:hover,.verification-code-button:focus  {
  transform: rotate(360deg);
  transform: scale(1.01);
  background: transparent;
  color: #00d5ff;
} */


/* --------------input -------------- */
/* 
.phone-number-input {
  color: #e6e6e6;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-family: inherit;
  outline: none;
  padding: 0 1em;
  max-width: 27.8125rem;
  width: 88%;
  height: 3.4375rem;
  display: block;
  margin-bottom: 2em;
  background: #5e5e5e;
  border: none;
}
 */



